    @import url('https://fonts.googleapis.com/css2?family=Itim&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Itim&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
h1 {
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #002aff
}

h2 {
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #002aff
}


p {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #002aff;
    /* ขอบสีส้มที่ด้านบน */
}

button {
    font-family: "K2D", sans-serif;
    font-weight: 500;
    /* Light */
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

th,
td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}